@page "{id:int}"
@model AcademiaMusica.Pages.Alumnos.EditarModel
@{
    ViewData["Title"] = "Editar Alumno";
}

<div class="page-heading">
    <h2>Editar Alumno</h2>
    <div class="heading-line"></div>
</div>

<div class="card-dark">
    <form method="post">
        <input type="hidden" asp-for="Alumno.IdAlumno" />
        <div class="form-grid">

            <div class="form-field">
                <label> Nombre</label>
                <input asp-for="Alumno.NombreAlumno" required />
            </div>

            <div class="form-field">
                <label>Apellido</label>
                <input asp-for="Alumno.ApellidoAlumno" required />
            </div>

            <div class="form-field">
                <label>Fecha de Nacimiento</label>
                <input asp-for="Alumno.FechaNacimiento" type="date" required/>
            </div>

            <div class="form-field">
                <label>Email</label>
                <input asp-for="Alumno.EmailAlumno" type="email" required />
            </div>

            <div class="form-field">
                <label>Teléfono</label>
                <input asp-for="Alumno.TelefonoAlumno" required/>
            </div>

            <div class="form-field">
                <label>Estado</label>
                <div class="checkbox-row">
                    <input asp-for="Alumno.ActivoAlumno" type="checkbox" />
                    <span>Alumno activo</span>
                </div>
            </div>

        </div>

        <div class="form-actions">
            <button type="submit" class="btn-accent-green">✔ Guardar Cambios</button>
            <a asp-page="./Index" class="btn-outline-dim">✕ Cancelar</a>
        </div>
    </form>
</div>
